<body>
    <div id="header-wrap">
        <div id="header">
            <button class="button" id="help" ui-sref='help'>Help</button>
            <button class="button" id="about" ui-sref='about'>About</button>
            <button class="button" id="home" ui-sref='homepage'>Home</button>
        </div>
    </div>
    <div class="help">
        <div class="middleSection">
            <h1 id="aboutphrase">About Us</h1>
            <div ng-repeat="about in abouts track by $index">
                <ul>{{about}}</ul>
            </div>
        </div>
    </div>

</body>
