<div id="header-wrap">
  <div id="header">
    <!-- <button class="button" id="help" ui-sref='help'>Help</button>
    <button class="button" id="about" ui-sref='about'>About</button> -->
    <button class="button" id="login" ui-sref='login'>Login</button>
    <div class="sky-logo"></div>
    <nav class="circle" id="ham-menu">
      <div class="surrounding-bars">
        <div class="top bar"></div>
        <div class="bar" id="center"></div>
        <div class="bottom bar"></div>
      </div>
      <a href="#" class="radiate" id="fb">
        <div id="close"><p class="center-the-txt">Close menu</p></div>
        <div class="ham-menu-container"><p class="center-the-txt" ui-sref="homepage">Home</p></div>
        <div class="ham-menu-container"><p class="center-the-txt" ui-sref="about">About Us</p></div>
        <div class="ham-menu-container"><p class="center-the-txt" ui-sref="business">Business</p></div>
        <div class="ham-menu-container"><p class="center-the-txt" ui-sref="help">Help</p></div>
        <div class="ham-menu-container"><p class="center-the-txt" ui-sref="myaccount">My Account</p></div>
        <div class="ham-menu-container"><p class="center-the-txt" ui-sref="rates">Rates</p></div>
        <div class="ham-menu-container"><p class="center-the-txt" ui-sref="reviews">Reviews</p></div>
        <div class="ham-menu-container" id="join-us" ui-sref="login"><p class="center-the-txt">Join Us</p></div>


      </a>
    </nav>
  </div>
</div>
<div id="wrap-create-user">
  <h1 id="create-phrase">Create Your Account</h1>
  <input class="createUser" id="enterUsername" ng-model="userCreate.username" placeholder="Create Your Username" style="font-family:'Raleway', sans-serif; border-radius: 8px; width: 15%; border-color: rgba(0,0,0,0); height: 4vh;"><br>
  <input class="createUser" id="enterEmail" ng-model="userCreate.email" placeholder="Enter Your Email" style="font-family:'Raleway', sans-serif; border-radius: 8px; width: 15%; border-color: rgba(0,0,0,0);height: 4vh;"><br>
  <input class="createUser" type="password" id="enterPassword" ng-model="userCreate.password" placeholder="Create Your Password" style="font-family:'Raleway', sans-serif; border-radius: 8px; width: 15%; border-color: rgba(0,0,0,0); height: 4vh;"><br>

  <button class="button" id="createAccountBtn" ng-click="createUser(userCreate)">Create Account</button>
</div>
