<div id="header-wrap">
  <div id="header">
      <button class="button" id="help" ui-sref='help'>Help</button>
      <button class="button" id="about" ui-sref='about'>About</button>
      <button class="button" id="login" ui-sref='login'>Login</button>
  </div>
</div>
<div id="wrap-create-user">
  <h1 id="create-phrase">Create Your Account</h1>
  <input class="createUser" id="enterUsername" ng-model="userCreate.username" placeholder="Create Your Username" style="font-family:'Raleway', sans-serif; border-radius: 8px; width: 15%; border-color: rgba(0,0,0,0); height: 4vh;"><br>
  <input class="createUser" id="enterEmail" ng-model="userCreate.email" placeholder="Enter Your Email" style="font-family:'Raleway', sans-serif; border-radius: 8px; width: 15%; border-color: rgba(0,0,0,0);height: 4vh;"><br>
  <input class="createUser" type="password" id="enterPassword" ng-model="userCreate.password" placeholder="Create Your Password" style="font-family:'Raleway', sans-serif; border-radius: 8px; width: 15%; border-color: rgba(0,0,0,0); height: 4vh;"><br>

  <button class="button" id="createAccountBtn" ng-click="createUser(userCreate)">Create Account</button>
</div>
