<body>
  <div id="header-wrap">
    <div id="header">
        <button class="button" id="help" ui-sref='help'>Help</button>
        <button class="button" id="about" ui-sref='about'>About</button>
        <button class="button" id="login" ui-sref='login'>Login</button>
    </div>
  </div id="container">
     <br><br>
    <div class="middleOfPage">
      <h2>_____ keeps the world talking, for free</h2> <br>
      <button id="getStarted" ui-sref='createUser'>Create An Account</button>

    </div>

</body>
