  <div id="header-wrap">
    <div id="header">
        <button class="button" id="logout" ng-click="logout()">Log Out</button>
    </div>
  </div>

  <div id="main">
    <h1 id="greeting" style="height: 10vh;">Welcome back, {{username}}</h1>






<div>
    <!-- <button class="button" ui-sref="connect">Video Chat</button> -->
    <div class="round-button" id="vid-chat-btn" style="margin-top=20%" ><div class="round-button-circle"><a ui-sref="connect" class="round-button">Video Chat</a></div></div>


<br>
<br>
<div class="round-button" id="text-chat-btn" style="float: right; margin-top=-200%;"><div class="round-button-circle"><a ng-click="toggleChat()" class="round-button">Start Messaging</a></div></div>
</div>
<!-- <button class="round-button" ng-click="toggleChat()">Start Messaging</button> -->
<div ng-show="chat">
            <!-- Create ROOM and get FRIENDS TO ADD -->
        <div class="newRoom">
            <h1>Enter Chat-Room Name To Create A New Room</h1>

            <input ng-model="roomName.name" placeholder="Room Name" style="font-family:'Raleway', sans-serif; border-radius: 8px; width: 15%; border-color: rgba(0,0,0,0); height: 4.8vh;"></input>
            <button class="button" id="newRoom-btn" ng-click="newRoom(roomName)">Create</button>
            <br><br>

            <!-- GET FRIENDS TO ADD TO CHAT -->
            <!-- <button class="button" ng-click="getUsers()">get users</button>
            <div ng-repeat="friend in user.friends">{{friend.username}}<button ng-click="addToChat(friend._id, roomNew._id)">Add To Chat</button></div> -->

            <ul id="roomName">{{roomNew.name}}</ul>
        </div>

            <!-- ENTIRE CHATBOX -->
        <div class='chatbox' ng-model="chatbox">
            <div>
                <div id="box-around-sent-msg" style="border-radius: 5px; color: black;">
                    <div id="append-text" style="font-family: 'Raleway', sans-serif; color: white;" ng-repeat="message in messages">{{message.text}} : {{message.user.username}}</div>
                </div>
                <textarea ng-model='newMsg' class="user-thought" style="font-family: 'Raleway', sans-serif;" placeholder="Start Chatting.." style='height:7em; width:200%;'></textarea>
            <!-- <div id="char-count">500</div> -->
                <button class="button" id="thought-submit" ng-click="addMsg(newMsg, roomNew._id)">Send</button> <br><br>
            </div>
            <!-- GET PAST CHATS -->
        </div>
        <br><br>

        <button class="button" id="pastchat" ng-click="chatUserIn(); togglePast()" style="font-family: 'Raleway', sans-serif;">Get Past Chats</button><br>
                <div id="getchats" ng-hide="past"  style="font-family: 'Raleway', sans-serif;" ng-repeat="chat in allowedChats">{{chat.name}}
                    <button class="connectBtn" style="font-family: 'Raleway', sans-serif;" ng-click="getChatRooms(chat._id)">+</button>
                    <button class="connectBtn" style="font-family: 'Raleway', sans-serif;" ng-click="getChatRooms(chat._id)">-</button>
                </div>
                {{chatObj}}

        <button class="button" id="findFriendBtn" ng-click="getUsers(); toggle()">Find Friends</button>
        <div class="foundFriends">
        <div id="friends" ng-repeat="friend in allUsers" ng-hide="myVar">{{friend.username}}<button id="add-friend" ng-click="addFriend(friend)">Add Friend</button><button id="add-friend" ng-click="addToChat(friend._id, roomNew._id)">Add To Chat</button></div>
      </div>

    </div>
    </div>
