@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Raleway);
/*html {
    background-color: #53ddc8;
}*/

/*HOMEPAGE*/
html{
  background-image: url(images/cityy.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  color: white;
}
body > button{

  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  line-height: 95px;
  text-align: center;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 95px;
}
/*button {
 opacity: 1;
}*/

button:hover {
  background: rgb(206,184,179);
  border-radius: 50px;
  transition-duration: 1s;
}
#header-wrap {
    position: fixed;
    height: 7vh;
    top: 0;
    width: 100%;
    z-index: 100;
    margin-left: -8px;
    background: blue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#757685, rgba(114, 150, 166, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#757685, rgba(114, 150, 166, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#757685, rgba(114, 150, 166, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#47484d, rgba(114, 150, 166, 0.0)); /* Standard syntax (must be last) */

}
#header{
  margin-top: .3%;
}
.middleOfPage {
font-family: 'Raleway', sans-serif;

}
#container {
    margin-top: 7vh;

}
#text-and-button{
  margin-top: 35vh;
}
#phrase{
  font-size: 6vh;
  margin-left: 20%;
  color: #fff;
}
.button {
    height: 5.5vh;
    background-color: rgb(206,204,194);
    border: rgba(0, 0, 0, 0.6);
    font-family: 'Raleway', sans-serif;
    font-size: 2.5vh;
    color: white;
    border-radius: 10px;
    float: left;
    margin-left: .5%;
    width: 10%;
}
#login {
    float: right;
    margin-right: .5%;
    background-color: rgb(206,184,179);
}
#getStarted{
  margin-left: 40%;
  height:13vh;
  width: 20%;
  font-size: 4vh;
  background-color: rgb(206,184,179);
  margin-top: 0%;
}

/*END HOMEPAGE*/

.inputArea {
    width: 50%;
    height: 50vh;
    background-color: #9dcbd0
}
.enter-thought {
    width: 20%;
}
.scroll {
    background-color: white;
    width: 40%;
    border-radius: 7px;
}
.user-thought {
    border-radius: 7px;
}
.chatbox {
    width: 20%;
    margin-left: 20%;
    margin-top: 10%;
}
#add-friend {
    margin-left: 5%;
}
#box-around-sent-msg {
    background-color: white;
    width: 201%;
    height: 20vh;
}
/***********************/
/**//*CREATE A USER*//**/
/***********************/
#wrap-create-user{
  font-family: 'Raleway', sans-serif;
  margin-top: 30vh;

}
#create-phrase{
  margin-left: 37.5%;
  font-size:5vh;
  color: #fff;
}
#createAccountBtn{
  height: 9vh;
  width: 20%;
}
.createUser{
  margin-left: 42.5%;
  margin-top: .5%;
}
#createAccountBtn{
  margin-top: 4vh;
  margin-left: 42.5%;
  width: 15%;
  height: 8vh;
  background-color:  rgb(206,184,179);
  font-size: 3vh;
}
/*LOGIN PAGE*/
#loginphrase{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 7vh;
    width: 15%;
    margin-left: 44.5%;

}
.loginform{
  width: 20%;
  margin-top: .2%;
  margin-left: 40%;
}
#loginBtn{
  margin-left: 42.5%;
  width: 15%;
  height: 7vh;
  margin-right: .5%;
  background-color: rgb(206,184,179);
  border-radius: 50px;
  margin-top: 4vh;
  border-color: rgba(206, 184,179, .5);
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 4vh;
}
.login-input{
  margin-top: 15%;
}
#home{
  float: right;
}
/************************/
/*Help*/
.help{
  font-family: 'Raleway', sans-serif;
  margin-top: 7vh;
}
.middleSection{
  background-color: rgba(206, 184,179, .6);
  height: 160vh;
  margin-left: 20%;
  margin-right: 20%;
}
#commQs{
  margin-left: 30%;
  font-size: 5vh;
}
#lvSp{
  margin-left: 37%;
  font-size: 5vh;
}
#disclaimers{
  margin-left: 39%;
  font-size: 5vh;
}
#tAndA{
  margin-left: 27%;
  font-size: 5vh;
}
p{
  font-size: 2vh;
}
/************************/
/*ABOUT*/
#aboutphrase{
  margin-left: 39%;
  font-size: 5vh;
}
/************************/
/*USERHOME*/
#logout{
  float: right;
}
#main{
  margin-top: 7vh;
  font-family: 'Raleway', sans-serif;
  margin-left: 0;
  /*position: absolute;*/

}
#greeting{
  font-family: 'Raleway', sans-serif;
}

/************************/
/*CONNECT*/
.newRoom{
  font-family: 'Raleway', sans-serif;

}
#thought-submit{
  width: 45%;
  margin-left: 150%;
}
#pastchat{
  width: 45%;
  float: none;
}
.user-thought{
  width: 200%;
  height: 15vh;
}
#getchats{
  margin-top: 2vh;
  margin-left: 0;
}
.connectBtn{
  background-color: rgb(206,204,194);
  border-radius: 70px;
  border-color: rgba(0,0,0,0);
  color: #fff;
  font-size: 5vh;
  /*height: 4vh;*/
}
#roomName{
  margin-left: -3%;
  font-size: 7vh;
}
